<template name="campaignVote">
	
	{{#with campaign}}
        <div class="description">
            <div class="title-text">Brand</div>
            <div class="content-text"><u>{{brand}}</u></div>
        </div>
        <div class="description">
            <div class="title-text">Prize</div>
            <div class="content-text"><u>{{prize}}</u></div>
        </div>
	{{/with}}

	<h3>Ranking</h3>
	<ul>
	{{#each campaign.groups}}
		<li>
		{{name}} - {{votes}}
		{{#if currentUser}}
			<form method="POST" class="voteForm">
				<input type="hidden" name="campaignId" value="{{../campaign._id}}"/>
				<input type="hidden" name="name" value="{{name}}"/>
				<input type="submit" value="Vote"/>
			</form>
		{{else}}
			Login to vote!
		{{/if}}
		</li>
	{{/each}}
	</ul>

</template>