<template name="campaignVote">

	<div class="container-fluid vote-container">

		<div class="pager back-button">
			<li><a href="{{pathFor 'campaignsList'}}">
				<span aria-hidden="true">&larr;</span>campaigns</a>
			</li>
		</div>

		{{#with campaign}}
	    <div class="brand-text">
	    	{{brand}}
	    </div>
	    <div class="prize-text">The winning major wins {{prize}}</div>

	    <div class="rules-text"><u><b>Rules:</b> {{rules}}</u></div>
		{{/with}}

		<hr>

		<div class="login-container">
			<div class="login">
			{{> loginButtons}}
			</div>
		</div>
		<div class="vote-status">
		{{#if campaign.finished}}
			This campaign has finished. Check the winners below!
		{{else}}
			{{#if currentUser}}
				{{#if canVote}}
					{{> timer}}
				{{else}}
					You can now vote!
				{{/if}}
			{{else}}
				Login to vote!
			{{/if}}
		{{/if}}
		</div>

		<hr>

		<div class="table-container">
		<table class="table">
			<thead>
				<tr>
					<th>Ranking</th>
					<th>Major</th>
					<th>Votes</th>
					<th> </th>
				</tr>
			</thead>
			
			<tbody>
			{{#each campaign.groups}}
			<tr>
				<td><b>{{index}}</b></td>
				<td>{{name}}</td>
				<td>{{votes}}</td>
				<td>
					{{#if currentUser}}
						<form method="POST" class="voteForm" name="voteForm">
							<input type="hidden" name="cooldown" value="{{../campaign.cooldown}}"/>
							<input type="hidden" name="campaignId" value="{{../campaign._id}}"/>
							<input type="hidden" name="name" value="{{name}}"/>
							{{#unless ../canVote}}
								<input type="submit" class="btn btn-success" value="Vote"/>
								<input type="hidden" name="whileActive" value="true"/>
							{{else}}
								<input disabled type="submit" class="btn btn-default" value="Vote"/>
								<input type="hidden" name="whileActive" value="false"/>
							{{/unless}}
						</form>
					{{/if}}
				</td>
			</tr>
			{{/each}}
			</tbody>
		</table>
		</div>
	</div>
</template>