<template name="campaignsList">
    <div class="container-fluid header-container">
        <div class="company"><b>dibbs</b></div> 
        <div>Ganha os melhores produtos nas melhores campanhas!</div>
    </div>
    <div class="container-fluid campaigns-container">
        <div class="row campaigns-sub-container">
        {{#each campaigns}}
            {{> campaignItem}}
        {{/each}}
        </div>
    </div>
    <div class="login-container">
            <div class="login">
            {{> loginButtons}}
            </div>
    </div>
    
    <!--
    <div class="container-fluid create-container">
        <a href="">I have a brand and want to create a campaign!</a>
    </div>
    -->
</template>