<template name="campaignItem">
    <div class="campaign">
        <div class="campaign-img" style='background-image: url("images/sprite.jpg");'></div>
        <div class="description">
            <div class="title-text">Brand</div>
            <div class="content-text"><u>{{brand}}</u></div>
        </div>
        <div class="description">
            <div class="title-text">Prize</div>
            <div class="content-text"><u>{{prize}}</u></div>
        </div>
        <form action="{{pathFor 'campaignVote'}}" method="POST">
            <button type="submit" class="see btn btn-warning">See and vote</button>
        </form>
    </div>
</template>